*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
hr{
    margin: 10px;
}
body{
    color: white;
    background-color: #0a0a0b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23fb0000' fill-opacity='0.01'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}

a{
    color: white;
    text-decoration: none;
}

.container{
    width: 90%;
    margin: auto;
}
#logo{
    height: 70px;
    width: 70px;
}
ul{
    list-style: none;
}
/* navation*/
.nav-main{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 50px 0px 40px 0px;
}



.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 0px 10px;
}
.nav-main ul a {
    padding: 2px;
    
}
.nav-main ul a:hover{
    border-bottom: 3px solid white;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 30px;

}

/*-------------------------------------------banner------------*/
.show-case{
   
    width: 100%;
    height: 550px;
    background: url("/img/wason.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
    
}
.show-case img{
    max-width: 100%;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 30px;
    background: rgb(44, 43, 43);
    color: white;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0px;
    

}
.btn:hover{
    opacity: .6;
}
.show-case h2,.show-case p{
    margin-bottom: 10px;
    

}
.show-case p{
    width: 90%;
}

/* new cards*/

.new-cars{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin-top:20px ;

}
.new-cars img{
    width: 100%;
    height: 250px;
}
.new-cars h3{
    font-size: 25px;
    margin: 10px 0;
}
.new-cars a {
    padding: 10px 0;
    color: white;
    display: inline-block;
    font-weight:bold;
}

.new-cars a:hover{
    text-decoration: underline 5px;
    font-size: 20px;
    
}

/*bannner one*/

.banner--one{
    width: 100%;
    height: 300px;
    background-image: url("/img/3D-banner-background.jpg");

}

.banner--one .content{
    width: 40%;
    padding: 80px 0px 0 30px;
    color: white;

}


/*banner two*/
.banner--two{
    width: 100%;
    height: 300px;
    background: url("/img/wason1.jpg") no-repeat center center/cover;
    background-position: center center/cover;
    justify-content: space-between;

}

.banner--two .content{
    width: 40%;
    padding: 80px 0px 0 30px;
    color: white;

}
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.LINKS{
    display: flex;
    align-items: center;
    justify-content: center;
}

.LINKS a{
    margin: 0px 15px;
}
.LINKS i{
    font-size: 3em;
}
/* footer links*/

.footer-links{
    background: rgb(75, 74, 74);
    color: rgb(185, 183, 183);
    padding: 35px 0px 10px  0px;
    }


.footer-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}
.footer-container ul{
    margin: 0 auto;

}

.footer-container ul li{
    line-height: 1.9;
}

.publicidad{
    color: rgb(156, 134, 134);
    opacity: 0.3;
    margin: auto;
    width: 100px;
    margin-top: 10px;
    text-align: center;    
}

.publicidad h3:hover{
    color: white;
}

@media (max-width:700px){
    /*nav*/    
    .nav-main ul.nav-menu{
        margin-left: 0px;
    }
    .nav-main .nav-menu {
        
        margin-left: 0px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        width: 30%;
    }

    .nave-menu-right{
        
        padding-left:90% ;
    }
    /*cards*/
    .new-cars{
        grid-template-columns:repeat(2,1fr) ;

    }
    .btn-menu{
        position:absolute;
        cursor: pointer;
        right: 30px;
        top: 15px;
        z-index: 2;
        font-size: 40px;
    }
    /*banner*/
    .banner--one , .banner--two{
        
        height: 600px;

    }
    .banner--two{
        width: 100%;
        height: 300px;
        background: url("/img/wason2.jpg") no-repeat center center/cover;
        justify-content: space-between;
        }
    
    .banner--two .content, .banner--one .content{
        width: 70%;
        padding: 100px 0px 0 30px;
        color: white;
    
    }
    /*footer*/
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
   
}
